@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Swiper-One */
.swipper-sliding-one {
  @apply w-full h-full;
}

.swipper-sliding-one .swiper-slide {
  @apply flex flex-col items-center justify-center text-center;
}

.swipper-sliding-one .swiper-wrapper .swiper-slide img {
  @apply block object-cover w-full h-full;
}

.swipper-sliding-one .swiper-pagination .swiper-pagination-bullet {
  @apply bg-white;
}

/* ----------------------------- */

/* Swiper-Second */
.swiper-sliding-second,
.swiper-slide-third {
  @apply w-full h-full;
}

.swiper-sliding-second .swiper-wrapper .swiper-slide {
  @apply max-w-[235px] mx-3 text-center;
}

.swiper-sliding-second .swiper-slide img {
  @apply max-w-[235px] h-[235px] flex mb-6 flex-col object-cover rounded-full border-4 border-secondary;
}

.swiper-sliding-second .swiper-wrapper .swiper-slide span:nth-of-type(1) {
  @apply mr-3 text-sm text-white line-through;
}
.swiper-sliding-second .swiper-wrapper .swiper-slide span:nth-of-type(2) {
  @apply text-base text-white;
}
.swiper-sliding-second .swiper-wrapper .swiper-slide h2 {
  @apply text-lg text-secondary;
}

.swiper-container {
  @apply mt-[78px] mb-[129px] flex py-0 px-[100px];
}

.swiper-container .swiper-button-prev {
  @apply bg-[url('/images/previous-icon.svg')];
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  @apply max-w-[60px] w-full h-[150px] bg-no-repeat;
}

.swiper-container .swiper-button-next {
  @apply bg-[url('/images/next-icon.svg')];
}

.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
  @apply content-none;
}

/* Swiper Third */

.swiper-slide-third .swiper-slide {
  @apply text-primary text-center text-lg bg-transparent flex mt-[50px] flex-col justify-start items-center;
}

.swiper-slide-third .swiper-slide img {
  @apply block object-cover w-full h-full;
}

/* Hambuger-Menu */

.bar {
  @apply block w-8 h-1 duration-500 ease-in-out bg-white;
}
.bar-tab {
  @apply block w-8 h-1 duration-500 ease-in-out;
}

.nav-link {
  @apply text-white;
}

.burgerHam.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burgerHam.active .bar:nth-child(2) {
  opacity: 0;
}

.burgerHam.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-item {
  @apply mx-0 my-5;
}

.nav-menu.active {
  @apply left-[30%] duration-300 ease-in;
}

.burgerHam.active {
  @apply h-0 bg-opacity-0;
}

.navbar.active {
  @apply bg-opacity-50 bg-primary;
}

.bgSign.active {
  @apply hidden;
}
